<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section id="narrow-down" data-base-url="https://s005.francfranc.com">
    <h2>絞り込みUI</h2>
    <input type="checkbox" v-model="conditions" id="1r" value="1r">
    <label for="1r">1R</label>

    <input type="checkbox" v-model="conditions" id="1k" value="1k">
    <label for="1k">1K</label>

    <input type="checkbox" v-model="conditions" id="1ld" value="1ld">
    <label for="1ld">1LD</label>

    <input type="checkbox" v-model="conditions" id="1ldk" value="1ldk">
    <label for="1ldk">1LDK</label>

    <div>url: {{ url }}</div>

    <a :href="url" target='_blank'>絞り込む</a>
    <button @click="sendRequest">絞り込む</a>
  </section>

  <section id="acoordion">
    <h2>アコーディオン</h2>
    <ul class="acoordion">
      <li>
        <button @click="isOpen[0] = !isOpen[0]" class="acoordion__head">
          東急東横線
        </button>
        <ul v-show="isOpen[0]">
          <li>渋谷</li>
          <li>代官山</li>
          <li>中目黒</li>
        </ul>
      </li>
      <li>
        <button @click="isOpen[1] = !isOpen[1]" class="acoordion__head">
          東急目黒線
        </button>
        <ul v-show="isOpen[1]">
          <li>目黒</li>
          <li>不動前</li>
          <li>武蔵小山</li>
        </ul>
      </li>
    </ul>
  </section>
</body>

<script src="./dist/main.js" defer></script>

</html>
